{% extends 'base.html' %}
{% block title %}
    Edit Tweet - Twitter
{% endblock title %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <h1>Tweet</h1>
                <div class="d-flex flex-column align-items-center">
                    <div class="card w-75 mb-4 bg-dark text-white">
                        <div class="card-header">
                            <img src="{{tweet.user.profile.avatar.url}}" class="img-fuild rounded-3" style="width:2.4rem;height:2.2rem;" > <a href="{% url 'twitter:profile' tweet.user.pk %}">@{{tweet.user.username|lower}}</a> <i class="bi bi-twitter"></i>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>{{tweet.tweet}}</p>
                                <footer class="blockquote-footer" style="font-size:.8rem">tweeted at {{tweet.created_at|date:"y/m/d H:ia"}}</footer>
                            </blockquote>
                            <hr/>
                            <a href="{% url 'twitter:like_tweet' pk=tweet.id %}" class="text-decoration-none text-white"><i class="bi bi-heart{% if request.user in tweet.likes.all %}-fill{%endif%}"></i> {{tweet.total_likes}}</a>
                        </div>
                    </div>
                </div>
                <h2>Edit Tweet</h2>
                <form method="post" action="{% url 'twitter:edit_tweet' pk=tweet.pk %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="tweet" class="form-label">Your Tweet</label>
                        <textarea class="form-control" id="tweet" placeholder="edit your tweet" name="tweet" rows="3" required>{{tweet.tweet}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Edit Tweet</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}