{% extends 'base.html' %}
{% block content %}
<div class="row">
    <!-- Left Sidebar -->
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Followers</h5>
                {% for followed in profile.followed_by.all %}
                <a class="card-text" href="{% url 'twitter:profile' followed.pk %}">@{{followed.user.username}}</a><br>
                {%endfor%}
                <h5 class="card-title">Following</h5>
                {% for follows in profile.follows.all %}
                <a class="card-text" href="{% url 'twitter:profile' follows.pk %}">@{{follows.user.username}}</a><br>
                {%endfor%}
                {% if profile.user.id != request.user.id %}
                <form action="{% url 'twitter:profile' profile.pk %}" method="POST">
                    {% csrf_token %}
                    {% if profile in request.user.profile.follows.all %}
                        <button class="btn btn-outline-danger" name="follow" value='unfollow'>Unfollow @{{profile.user.username|lower}}</button>
                    {%else%}
                        <button class="btn btn-outline-success" name="follow" value='follow'>follow @{{profile.user.username|lower}}</button>
                    {%endif%}
                </form>
                {%endif%}
            </div>
        </div>
    </div>

    <!-- Main Profile Content -->
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                    <img src="{{profile.avatar.url}}" alt="Avatar" class="rounded-circle me-3" style="width: 100px; height: 100px;">
                    <div>
                        <h5 class="card-title mb-0"><a href="{% url 'twitter:profile' profile.pk %}">@{{profile.user.username}}</a></h5>
                        <p class="text-muted">{{profile.user.get_full_name}}</p>
                    </div>
                </div>
                {% if profile.user.email %} <p><strong>Email:</strong> {{profile.user.email}}</p> {% endif %}
                <p><strong>Tweets:</strong></p>
                <ul>
                    <li>Tweet</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}