{% extends 'base.html' %}

{% block title %}
    Profiles - Twitter
{% endblock title %}
{% block content %}
<div class="row">
    {% for profile in profiles %}
    <!-- User 1 -->
    <div class="col-12 mb-3">
        <div class="card w-50 rounded-3 bg-dark text-white">
            <div class="d-flex align-items-center p-3">
                <img src="{{profile.avatar.url}}" alt="image for {{profile.user.get_full_name}}" class="rounded-circle me-3" width="100" height="100">
                <div>
                    <h5 class="card-title mb-0">{{profile.user.get_full_name}}</h5>
                    <p class="card-text">
                        <a href="{% url 'twitter:profile' profile.pk %}" class="text-decoration-none">@{{profile.user.username}}</a>
                    </p>
                    <small  class="text-secondary">Last updated {{profile.last_change|date:"d/M/Y h:i a"}} </small>

                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</row>
{%endblock content %}