{% extends 'base.html' %}
{% block title %}
    Home - Twitter
{% endblock title %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <h1>Tweets</h1>
                <div class="d-flex flex-column align-items-center">
                    {% for tweet in tweets %}
                    <div class="card w-75 mb-4 bg-dark text-white">
                        <div class="card-header">
                            Tweet <i class="bi bi-twitter"></i>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>{{tweet.tweet}}</p>
                                <footer class="blockquote-footer">tweet by <a href="{% url 'twitter:profile' tweet.user.pk %}">@{{tweet.user.username|lower}}</a></footer>
                            </blockquote>
                        </div>
                        
                    </div>
                    
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                {% if request.user.is_authenticated %}
                <h2>Add a Tweet</h2>
                <form method="post" action="{% url 'twitter:home' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="tweet" class="form-label">Your Tweet</label>
                        <textarea class="form-control" id="tweet" placeholder="add your new tweet!" name="tweet" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Tweet</button>
                </form>
                {% else %}
                <h3><a href="{% url 'twitter:login' %}">Login</a> to Unlock Tweeting</h3>
                {%endif%}
            </div>
        </div>
    </div>
{% endblock content %}