{% extends 'base.html' %}
{% block head %}
<style>
    .copy-success {
        display: none;
        color: #28a745; /* Green color */
        font-size: 0.9rem;
        margin-bottom: 5px;
    }
</style>
{% endblock %}
{% block title %}
    Home - Twitter
{% endblock title %}
{% block content %}
    <div class="container mt-4">
        <!-- modal for share tweets ! -->
        {% include 'inc/modals/share_tweets.html'%}
        <div class="row">
            <div class="col-md-8">
                <h1>Tweets</h1>
                <div class="d-flex flex-column align-items-center">
                    {% for tweet in tweets %}
                    <div class="card w-75 mb-4 bg-dark text-white">
                        <div class="card-header">
                            <img src="{{tweet.user.profile.avatar.url}}" class="img-fuild rounded-3" style="width:2.4rem;height:2.2rem;" > <a href="{% url 'twitter:profile' tweet.user.pk %}">@{{tweet.user.username|lower}}</a> <i class="bi bi-twitter"></i>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>{{tweet.tweet}}</p>
                                <footer class="blockquote-footer" style="font-size:.8rem">tweeted at {{tweet.created_at|date:"y/m/d H:ia"}}</footer>
                            </blockquote>
                            <hr/>
                            <div class="d-flex flex-row justify-content-start gap-3">
                                <a href="{% url 'twitter:like_tweet' pk=tweet.id %}" class="text-decoration-none text-white"><i class="bi bi-heart{% if request.user in tweet.likes.all %}-fill{%endif%}"></i> {{tweet.total_likes}}</a>
                                <a href="#" onclick=showModal("{{site.domain}}","{% url 'twitter:share_tweet' tweet.id %}") class="text-decoration-none text-white"><i class="bi bi-share"></i></a>
                                {% if request.user.id == tweet.user.id %}
                                <a href="{% url 'twitter:delete_tweet' pk=tweet.id %}" class="text-decoration-none text-white" ><i class="bi bi-trash3"></i></a>
                                <a href="{% url 'twitter:edit_tweet' pk=tweet.id %}" class="text-decoration-none text-white" ><i class="bi bi-pencil"></i></a>

                                {%endif%}
                            </div>
                        </div>
                        
                    </div>
                    
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                {% if request.user.is_authenticated %}
                <h2>Add a Tweet</h2>
                <form method="post" action="{% url 'twitter:home' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="tweet" class="form-label">Your Tweet</label>
                        <textarea class="form-control" id="tweet" placeholder="add your new tweet!" name="tweet" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Tweet</button>
                </form>
                {% else %}
                <h3><a href="{% url 'twitter:login' %}">Login</a> to Unlock Tweeting</h3>
                {%endif%}
                <hr/>
                <form class="mt-3" action="{% url 'twitter:home' %}" method="GET" role="search">
                    <input class="form-control me-2" type="search" name="search" placeholder="Search Tweets..." aria-label="Search">
                    <br/>
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}